[user]
	name = Hammed Oyedele
	email = itz.harmid@gmail.com
	username = devhammed
	signingkey = 990729A301F44E5C
[init]
	defaultBranch = main
	templatedir = ~/.git-template
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
[pull]
	rebase = false
[core]
	sshCommand = "ssh -i ~/.ssh/id_personal"
	excludesFile = ~/.gitignore
	autocrlf = input
[includeIf "gitdir:~/Projects/Decagon/"]
	path = ~/.gitconfig-decagon
[includeIf "gitdir:~/Projects/Vertex/"]
  path = ~/.gitconfig-vertex
[merge]
	renamelimit = 10000
