[user]
	name = Hammed Oyedele
	email = itz.harmid@gmail.com
	username = devhammed
	signingkey = B8E2CB30A8D8071C
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
[pull]
	rebase = false
[includeIf "gitdir:~/Projects/Decagon/"]
	path = ~/.gitconfig-decagon
